@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


:root {
  /* Base theme colors */
  --background: #ffffff;
  --foreground: #171717;

  /* Med'ease brand colors */
  --primary: #3074B5;
  --secondary: #61D0BF;
  --text-dark: #202020;
  --secondary-transparent: #61D0BF80;
  --light-background: #DFEFFF;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

p {
  font-size: 16px;
}

h3 {
  font-size: 20px;
}




@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px black;
    color: transparent;
  }

  .text-outline-white {
    -webkit-text-stroke: 1px white;
    color: transparent;
  }

  .text-outline-brand {
    -webkit-text-stroke: 1px #C3C3C3;
    color: transparent;
  }

  .customboxshadow {
    box-shadow: 4px 4px 50px 0 #37353633;
  }

  /* === Hide scrollbar utility === */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE & Edge */
    scrollbar-width: none;
    /* Firefox */
  }


  .nosduengagementsBg {
    background: linear-gradient(#2a6ebbeb, #61d0bff0), url('../../public/images/nosduebg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  .arrowClipPath {
    height: 10px;
    width: 10px;
    background: black;
    transform: translateX(-50%) !important;
    /* clip-path: polygon(100% 0, 0 0, 50% 100%); */
    clip-path: polygon(50% 20%, 100% 0, 50% 100%, 0 0);
  }


}




/* Remove blue background from Chrome/Edge autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
  caret-color: #000 !important;
  transition: background-color 9999s ease-in-out 0s;
}