@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


:root {
  /* Base theme colors */
  --background: #ffffff;
  --foreground: #171717;

  /* Med'ease brand colors */
  --primary: #3074B5;
  --secondary: #61D0BF;
  --text-dark: #202020;
  --secondary-transparent: #61D0BF80;
  --light-background: #DFEFFF;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

p {
  font-size: 16px;
}
h3 {
  font-size: 20px;
}
